/* mobile */
/* max-width: 375px; */

/* desktop */
/* max-width: 1440px; */

:root {
    /* Primary */
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);

    /* Neutral */
    --transparent-white: hsla(0, 0%, 100%, 0.75);
    --very-light-gray: hsl(0, 0%, 95%);
}



.sedan {
    background-color: var(--bright-orange);
}

.suv {
    background-color: var(--dark-cyan);
}

.luxury {
    background-color: var(--very-dark-cyan);
}



div h1 {
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    color: var(--very-light-gray);
}

div p {
    font-family: 'Lexend Deca', sans-serif;
    color: var(--transparent-white);
}

div button {
    font-family: 'Lexend Deca', sans-serif;
    background-color: var(--very-light-gray);
    border: 2px solid var(--very-light-gray);
}



/* Attribution/Footer section */

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}