:root {
    /* Primary Colors */
    --cyan: hsl(179, 62%, 43%);
    --bright-yellow: hsl(71, 73%, 54%);

    /* Neutral Colors */
    --light-gray: hsl(204, 43%, 93%);
    --grayish-blue: hsl(218, 22%, 67%);

    /* Font */
    font-size: 16px;
}

* {
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
    margin: 0;
    padding: 0;
}



/* Mobile size */
@media (min-width: 375px) and (max-width: 768px) {
    body {
        min-height: 870px;
        height: 100vh;
    }
    
    main {
        width: 19.4375rem;
        height: 45.125rem;
        grid-template-columns: 1fr;
        grid-template-rows: 36.98% 31.58% 31.44%;
        margin-bottom: 0.25rem;
        border-radius: 0.3125rem;
    }

    section.secJoin {
        border-radius: 0.3125rem 0.3125rem 0 0;
        padding: 1.75rem 1.5rem 1.96875rem;
    }

    h1.joinHeading {
        font-size: 1.225rem;
    }

    h2.joinMoneyBack {
        margin: 0.9375rem 0 0.46875rem;
        font-size: 0.915625rem;
        line-height: 1.25rem;
    }

    p.joinDesc {
        font-size: 0.85625rem;
        line-height: 1.625rem;
    }

    section.secMonthly {
        padding: 1.5625rem 1.5rem 1.5rem;
    }

    p.monthlyDesc {
        margin: 0.0625rem 0 1.46875rem;
    }

    button.monthlyBtn {
        padding: 0.78125rem 0;
    }

    section.secWhy {
        border-radius: 0 0 0.3125rem 0.3125rem;
        padding: 1.5625rem 1.5rem;
    }
}



/* Desktop size */
@media (min-width: 768px) {
    body {
        min-height: 50rem;
        height: 100vh;
    }
    
    main {
        width: 39.6875rem;
        height: 29.6875rem;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 45.47% 54.53%;
        border-radius: 0.5rem;
    }

    section.secJoin {
        grid-column: span 2;
        border-radius: 0.5rem 0.5rem 0 0;
        padding: 2.5rem;
    }

    h1.joinHeading {
        font-size: 1.46875rem;
        margin-top: 0.03125rem;
    }

    h2.joinMoneyBack {
        margin-top: 0.9375rem;
        font-size: 1.1rem;
    }

    p.joinDesc {
        font-size: 0.978125rem;
        line-height: 1.625rem;
    }

    section.secMonthly {
        border-radius: 0 0 0 8px;
        padding: 2.5625rem 2.5rem 2.40625rem;
    }

    p.monthlyDesc {
        margin: 0.0625rem 0 1.4375rem;
    }

    button.monthlyBtn {
        padding: 0.8125rem 0;
    }

    section.secWhy {
        border-radius: 0 0 0.5rem 0;
        padding: 2.5625rem 2.5rem 2.625rem 2.5rem;
    }
}



body {
    background-color: var(--light-gray);
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    display: grid;
    box-shadow: 0 0.9375rem 1.875rem hsl(218deg 22% 67% / 40%);
}

section.secJoin {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1.joinHeading {
    color: var(--cyan);
}

h2.joinMoneyBack {
    color: var(--bright-yellow);
}

p.joinDesc {
    color: var(--grayish-blue);
}

section.secMonthly {
    background-color: var(--cyan);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h2.monthlyHeading {
    font-size: 1.103125rem;
    color: var(--light-gray);
}

p.monthlyPrice {
    color: rgb(151 222 222);
    margin-top: 0.625rem;
    margin-left: 0.03125rem;
    display: flex;
    align-items: center;
    gap: 0.8125rem;
    font-size: 0.975rem;
}

span.priceFigure {
    font-size: 2.015625rem;
    font-weight: 500;
    color: white;
}

p.monthlyDesc {
    color: var(--light-gray);
    font-size: 0.978125rem;
}

button.monthlyBtn {
    background-color: var(--bright-yellow);
    color: white;
    border: 0.125rem solid var(--bright-yellow);
    font-size: 1rem;
    border-radius: 5px;
    box-shadow: 0 0.625rem 0.625rem rgb(0 0 0 / 10%);
}

section.secWhy {
    background-color: var(--cyan);
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h2.whyHeading {
    font-size: 1.103125rem;
    color: var(--light-gray);
}

ul.whyList {
    gap: 4px;
    display: flex;
    flex-direction: column;
}

li.whyItem {
    color: var(--light-gray);
    list-style-type: none;
    font-size: 0.859375rem;
}



/* Hover state */
button.monthlyBtn:hover {
    cursor: pointer;
    background-color: inherit;
}



/* Attribution section */
.attribution { 
    font-size: 0.6875rem; 
    background-color: var(--light-gray);
    text-align: center; 
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 0.3125rem 0;
    width: 100vw;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}