:root {
    /* Primary Colors */
    --cyan: hsl(179, 62%, 43%);
    --bright-yellow: hsl(71, 73%, 54%);

    /* Neutral Colors */
    --light-gray: hsl(204, 43%, 93%);
    --grayish-blue: hsl(218, 22%, 67%);

    /* Font */
    font-size: 16px;
}

* {
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
    margin: 0;
    padding: 0;
}



/* Mobile size */
@media (min-width: 375px) and (max-width: 768px) {
    body {
        min-height: 870px;
        height: 100vh;
    }
    
    main {
        width: 311px;
        height: 722px;
        grid-template-columns: 1fr;
        grid-template-rows: 267px 228px 227px;
        margin-bottom: 4px;
        border-radius: 5px;
    }

    section.secJoin {
        border-radius: 5px 5px 0 0;
        padding: 28px 24px 31.5px;
    }

    h1.joinHeading {
        font-size: 19.6px;
    }

    h2.joinMoneyBack {
        margin: 15px 0 7.5px;
        font-size: 14.65px;
        line-height: 20px;
    }

    p.joinDesc {
        font-size: 13.7px;
        line-height: 26px;
    }

    section.secMonthly {
        padding: 25px 24px 24px;
    }

    p.monthlyDesc {
        margin: 1px 0 23.5px;
    }

    button.monthlyBtn {
        padding: 12.5px 0;
    }

    section.secWhy {
        border-radius: 0 0 5px 5px;
        padding: 25px 24px;
    }
}



/* Desktop size */
@media (min-width: 768px) {
    body {
        min-height: 800px;
        height: 100vh;
    }
    
    main {
        width: 635px;
        height: 475px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 45.47% 54.53%;
        border-radius: 8px;
    }

    section.secJoin {
        grid-column: span 2;
        border-radius: 8px 8px 0 0;
        padding: 40px;
    }

    h1.joinHeading {
        font-size: 23.5px;
        margin-top: 0.5px;
    }

    h2.joinMoneyBack {
        margin-top: 15px;
        font-size: 17.6px;
    }

    p.joinDesc {
        font-size: 15.65px;
        line-height: 26px;
    }

    section.secMonthly {
        border-radius: 0 0 0 8px;
        padding: 41px 40px 38.5px;
    }

    p.monthlyDesc {
        margin: 1px 0 23px;
    }

    button.monthlyBtn {
        padding: 13px 0;
    }

    section.secWhy {
        border-radius: 0 0 8px 0;
        padding: 41px 40px 42px 40px;
    }
}



body {
    background-color: var(--light-gray);
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    display: grid;
    box-shadow: 0 15px 30px hsl(218deg 22% 67% / 40%);
}

section.secJoin {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1.joinHeading {
    color: var(--cyan);
}

h2.joinMoneyBack {
    color: var(--bright-yellow);
}

p.joinDesc {
    color: var(--grayish-blue);
}

section.secMonthly {
    background-color: var(--cyan);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h2.monthlyHeading {
    font-size: 17.65px;
    color: var(--light-gray);
}

p.monthlyPrice {
    color: rgb(151 222 222);
    margin-top: 10px;
    margin-left: 0.5px;
    display: flex;
    align-items: center;
    gap: 13px;
    font-size: 15.6px;
}

span.priceFigure {
    font-size: 32.25px;
    font-weight: 500;
    color: white;
}

p.monthlyDesc {
    color: var(--light-gray);
    font-size: 15.65px;
}

button.monthlyBtn {
    background-color: var(--bright-yellow);
    color: white;
    border: 2px solid var(--bright-yellow);
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgb(0 0 0 / 10%);
}

section.secWhy {
    background-color: var(--cyan);
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h2.whyHeading {
    font-size: 17.65px;
    color: var(--light-gray);
}

ul.whyList {
    gap: 4px;
    display: flex;
    flex-direction: column;
}

li.whyItem {
    color: var(--light-gray);
    list-style-type: none;
    font-size: 13.75px;
}



/* Hover state */
button.monthlyBtn:hover {
    cursor: pointer;
    background-color: inherit;
}



/* Attribution section */
.attribution { 
    font-size: 11px; 
    background-color: var(--light-gray);
    text-align: center; 
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 5px 0;
    width: 100vw;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}