:root {
    /* Primary Colors */
    --cyan: hsl(179, 62%, 43%);
    --bright-yellow: hsl(71, 73%, 54%);

    /* Neutral Colors */
    --light-gray: hsl(204, 43%, 93%);
    --grayish-blue: hsl(218, 22%, 67%);

    /* Font */
    font-size: 16px;
}

* {
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
    margin: 0;
    padding: 0;
}



@media (min-width: 375px) and (max-width: 1439px) {
    body {
        min-height: 870px;
    }
    
    main {
        width: 311px;
        height: 726px;
    }
}



@media (min-width: 1440px) {
    body {
        min-height: 800px;
    }
    
    main {
        width: 635px;
        height: 475px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 45.47% 54.53%;
    }

    section.secJoin {
        grid-column: span 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    section {
        padding: 40px;
    }

    h1.joinHeading {
        font-size: 23.5px;
        margin-top: 0.5px;
    }

    h2.joinMoneyBack {
        margin-top: 15px;
        font-size: 17.6px;
    }

    p.joinDesc {
        font-size: 15.65px;
        line-height: 26px;
    }
}



body {
    background-color: var(--light-gray);
    display: flex;
    align-items: center;
    justify-content: center;
}

section.secJoin {
    background-color: white;
}

h1.joinHeading {
    color: var(--cyan);
}

h2.joinMoneyBack {
    color: var(--bright-yellow);
}

p.joinDesc {
    color: var(--grayish-blue);
}

section.secMonthly {
    background-color: var(--cyan);}

h2.monthlyHeading {
    color: white;
}

button.monthlyBtn {
    background-color: var(--bright-yellow);
    color: white;
    border: 0;
}

p.monthlyPrice {
    color: rgb(151 222 222);
}

span.priceFigure {
    color: white;
}

p.monthlyDesc {
    color: white;
}

section.secWhy {
    background-color: rgb(107 188 188);}

h2.whyHeading {
    color: white;
}

p.whyItem {
    color: rgb(184, 247, 249);
}



/* Attribution section */
.attribution { 
    font-size: 11px; 
    background-color: var(--light-gray);
    text-align: center; 
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 5px 0;
    width: 100vw;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}