:root {
    /* Primary */
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);

    /* Neutral */
    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);

    /* Font */
    font-size: 15px;
    /* font-weight: 400, 500, 700 */
}

* {
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
    margin: 0;
    padding: 0;
}



/* Mobile */
@media (min-width: 375px) and (max-width: 1439px) {
    body {
        min-height: 1530px;
    }
}



/* Desktop */
@media (min-width: 1440px) {
    body {
        min-height: 800px;
    }
}



body {
    background-color: var(--white);
    display: flex;
    justify-content: center;
}

main {
    width: 327px;
}

section.head {
    text-align: center;
    margin-top: 82.5px;
}

h1.headTitle {
    font-size: 40px;
    letter-spacing: -1.4px;
    line-height: 32px;
}

p.headDesc {
    margin: 23px 0;
    font-size: 19px;
    color: var(--dark-grayish-magenta);
    line-height: 25px;
    letter-spacing: -0.5px;
}

section.rates {
    margin-top: 38.5px;
}

article.rateItem {
    padding: 15px;
    margin: 16.5px 0;
    border-radius: 8px;
    height: 77.5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

div.rateItemStars {
    background: url(../images/icon-star.svg) space no-repeat center;
    height: 18px;
    width: 100px;
}

p.rateItemDesc {
    font-size: 17px;
    font-weight: 700;
    width: fit-content;
}

section.reviews {
    margin-top: 49px;
}

article.reviewItem {
    border-radius: 8px;
    height: 248px;
    margin: 16px 0;
}

.headTitle, 
.rateItemDesc, 
.attribution {
    color: var(--very-dark-magenta);
}

.headDesc {
    color: var(--dark-grayish-magenta);
}

.rateItem {
    background-color: var(--light-grayish-magenta);
}

.reviewItem {
    background-color: var(--very-dark-magenta);
}

.reviewItemHeadPersonName, 
.reviewItemDesc {
    color: var(--light-grayish-magenta);
}

.reviewItemHeadPersonTitle, 
.attribution a {
    color: var(--soft-pink);
}



/* Attribution section */
.attribution {
    font-size: 11px;
    text-align: center;
    position: fixed;
    width: 100vw;
    bottom: 0;
    left: 0;
    padding: 5px 0;
}