:root {
    /* Primary */
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);

    /* Neutral */
    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);

    /* Font */
    font-size: 15px;
    /* font-weight: 400, 500, 700 */
}

* {
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
    margin: 0;
    padding: 0;
}



/* Mobile */
@media (min-width: 375px) and (max-width: 1439px) {
    body {
        min-height: 1530px;
    }
}



/* Desktop */
@media (min-width: 1440px) {
    body {
        min-height: 800px;
    }
}



body {
    background-color: var(--white);
}

.headTitle, 
.headDesc, 
.rateItemDesc, 
.attribution {
    color: var(--very-dark-magenta);
}

.rateItem {
    background-color: var(--light-grayish-magenta);
}

.reviewItem {
    background-color: var(--very-dark-magenta);
}

.reviewItemHeadPersonName, 
.reviewItemDesc {
    color: var(--light-grayish-magenta);
}

.reviewItemHeadPersonTitle, 
.attribution a {
    color: var(--soft-pink);
}



/* Attribution section */
.attribution {
    font-size: 11px;
    text-align: center;
    position: fixed;
    width: 100vw;
    bottom: 0;
    left: 0;
    padding: 5px 0;
}