:root {
    /* Primary */
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);

    /* Neutral */
    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);

    /* Font */
    font-size: 15px;
    /* font-weight: 400, 500, 700 */
}

* {
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
    margin: 0;
    padding: 0;
}



/* Mobile */
@media (min-width: 375px) and (max-width: 1439px) {
    body {
        background: url(../images/bg-pattern-top-mobile.svg) no-repeat top left, url(../images/bg-pattern-bottom-mobile.svg) no-repeat bottom right;
        min-height: 1530px;
    }

    main {
        width: 327px;
        margin-bottom: 17px;
    }

    section.head {
        text-align: center;
    }

    h1.headTitle {
        font-size: 40px;
        letter-spacing: -1.4px;
        line-height: 32px;
    }

    p.headDesc {
        margin: 23px 0;
        font-size: 19px;
    }

    section.rates {
        margin-top: 38.5px;
    }

    article.rateItem {
        height: 77.5px;
        flex-direction: column;
        margin: 16.5px 0;
    }

    section.reviews {
        display: flex;
        flex-direction: column;
        margin-top: 49px;
        gap: 16px;
    }

    article.reviewItem {
        height: 248px;
    }
}



/* Desktop */
@media (min-width: 1440px) {
    body {
        background: url(../images/bg-pattern-top-desktop.svg) no-repeat top left, url(../images/bg-pattern-bottom-desktop.svg) no-repeat bottom right;
        min-height: 800px;
    }

    main {
        display: grid;
        grid-template: "head rates"
                "reviews reviews";
        grid-template-columns: 430px 540px;
        grid-template-rows: 280px 266px;
        column-gap: 140px;
        row-gap: 54px;
        height: 600px;
        width: 1110px;
    }

    .head, .rates {
        align-self: center;
    }

    .head {
        grid-area: head;
    }

    h1.headTitle {
        font-size: 55px;
        letter-spacing: -1.5px;
        line-height: 48px;
    }

    p.headDesc {
        font-size: 19.15px;
        margin-top: 26px;
    }

    .rates {
        grid-area: rates;
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-top: 10px;
    }

    article.rateItem {
        height: 56px;
        width: 445px;
        flex-direction: row;
        margin: 0 auto;
    }

    article.rateItem:first-child {
        margin-left: 0;
    }

    article.rateItem:last-child {
        margin-right: 0;
    }

    .reviews {
        grid-area: reviews;
        display: grid;
        column-gap: 30px;
        grid-template-columns: 1fr 1fr 1fr;
    }

    article.reviewItem {
        height: 235px;
        margin: auto 0;
    }

    article.reviewItem:first-child {
        margin-top: 0;
    }
    
    article.reviewItem:last-child {
        margin-bottom: 0;
    }

    .reviewItemDesc {
        margin-bottom: 9px;
    }
}



body {
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

p.headDesc {
    color: var(--dark-grayish-magenta);
    line-height: 25px;
    letter-spacing: -0.5px;
}

article.rateItem {
    padding: 15px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.rateItemStars {
    background: url(../images/icon-star.svg) space no-repeat center;
    height: 18px;
    width: 100px;
}

p.rateItemDesc {
    font-size: 17px;
    font-weight: 700;
    width: fit-content;
}

article.reviewItem {
    border-radius: 8px;
    padding: 30px 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section.reviewItemHead {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

img.reviewItemAvatar {
    border-radius: 50%;
    height: 40px;
}

section.reviewItemHeadPerson {
    margin-left: 23px;
    margin-top: 3px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

p.reviewItemHeadPersonName {
    font-size: 16.25px;
    font-weight: 700;
    letter-spacing: 0.35px;
}

p.reviewItemHeadPersonTitle {
    font-size: 16.25px;
    letter-spacing: 0.4px;
}

.reviewItemDesc {
    font-size: 16.25px;
    line-height: 21.95px;
    letter-spacing: 0.15px;
}

p.reviewItemDesc::first-line {
    line-height: 23px;
}

.headTitle, 
.rateItemDesc, 
.attribution {
    color: var(--very-dark-magenta);
}

.headDesc {
    color: var(--dark-grayish-magenta);
}

.rateItem {
    background-color: var(--light-grayish-magenta);
}

.reviewItem {
    background-color: var(--very-dark-magenta);
}

.reviewItemHeadPersonName, 
.reviewItemDesc {
    color: var(--light-grayish-magenta);
}

.reviewItemHeadPersonTitle, 
.attribution a {
    color: var(--soft-pink);
}



/* Attribution section */
.attribution {
    background: var(--white);
    opacity: 0.9;
    font-size: 11px;
    text-align: center;
    position: fixed;
    width: 100vw;
    bottom: 0;
    left: 0;
    padding: 5px 0;
}