:root {
    /* Primary */
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);

    /* Neutral */
    --very-dark-blue-main: hsl(217, 54%, 11%);
    --very-dark-blue-card: hsl(216, 50%, 16%);
    --very-dark-blue-line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);

    /* Font */
    font-size: 18px;
    /* font-weight: 300, 400, 600; */
}

* {
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    margin: 0;
    padding: 0;
}



/* Mobile */
@media (min-width: 375px) and (max-width: 1439px) {
    body {
        min-height: 667px;
    }

    main {
        width: 327px;
        height: 543px;
        border-radius: 14px;
        padding: 24.25px 24.5px 24.25px 24px;
    }

    .imgEquilibrium {
        width: 277.5px;
        height: 277.5px;
        margin: 0 auto;
    }

    h1.mainHead {
        word-spacing: -0.75px;
    }

    p.mainDesc {
        padding: 12.5px 0;
        font-size: 16px;
        letter-spacing: 0.05px;
    }

    section.secDetails {
        padding: 4px 0;
    }

    img.ethImg {
        height: 17px;
    }

    p.ethDesc {
        font-size: 14.75px;
        font-weight: 400;
        word-spacing: -0.5px;
    }

    img.timeImg {
        height: 17px;
    }

    p.timeDesc {
        font-size: 15px;
        margin-right: 1.5px;
    }

    section.secPerson {
        margin-top: 11.5px;
        padding-top: 16px;
    }

    p.personDesc {
        font-size: 15px;
        font-weight: 300;
        letter-spacing: 0.125px;
        word-spacing: -0.5px;
    }

    span.personName {
        font-size: 15px;
        letter-spacing: 0.25px;
        margin-left: 1.5px;
    }
}



/* Desktop */
@media (min-width: 1440px) {
    body {
        min-height: 650px;
    }

    main {
        width: 350px;
        height: 596.5px;
        margin-bottom: 1px;
        border-radius: 17px;
        padding: 24px;
    }

    .imgEquilibrium {
        height: 302px;
        width: 302px;
    }

    h1.mainHead {
        word-spacing: -0.5px;
    }

    p.mainDesc {
        padding: 17.25px 0;
        font-size: 18px;
    }

    section.secDetails {
        padding: 6.75px 0;
    }

    img.ethImg {
        height: 18px;
    }

    p.ethDesc {
        font-size: 15.25px;
        font-weight: 600;
    }

    img.timeImg {
        height: 16.5px;
    }

    p.timeDesc {
        font-size: 15.25px;
        margin-right: 2px;
        letter-spacing: 0.5px;
        word-spacing: -0.5px;
    }

    section.secPerson {
        margin-top: 17.25px;
        padding: 16px 0 8px;
    }

    p.personDesc {
        font-size: 16px;
    }

    span.personName {
        font-size: 15.25px;
        letter-spacing: 0.5px;
        margin-left: 2.5px;
    }
}



body {
    background-color: var(--very-dark-blue-main);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-color: var(--very-dark-blue-card);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.imgEquilibrium {
    background: url(../images/image-equilibrium.jpg) no-repeat top center;
    background-size: cover;
    border-radius: 8px;
}

h1.mainHead {
    color: var(--white);
    font-size: 21.25px;
    margin-top: auto;
    font-weight: 400;
    letter-spacing: 0.75px;
}

p.mainDesc {
    color: var(--soft-blue);
    line-height: 26px;
    font-weight: 300;
}

section {
    display: flex;
    flex-direction: row;
    align-items: center;
}

section.secDetails {
    justify-content: space-between;
}

img.ethImg {
    width: auto;
}

p.ethDesc {
    color: var(--cyan);
    letter-spacing: 0.5px;
    margin-left: 6.5px;
}

img.timeImg {
    width: auto;
    margin-left: auto;
}

p.timeDesc {
    color: var(--soft-blue);
    font-weight: 300;
    margin-left: 7.5px;
}

section.secPerson {
    border-top: 1px solid var(--very-dark-blue-line);
}

img.personImg {
    border: 1px solid var(--white);
    border-radius: 50%;
    height: 33px;
}

p.personDesc {
    color: var(--soft-blue);
    margin-left: 16px;
}

span.personName {
    color: var(--white);
}



/* Hover state */
.mainHead:hover, 
.personName:hover {
    color: var(--cyan);
    cursor: pointer;
}



/* Pseudo-elements */
.imgEquilibrium::after {
    content: '';
    height: inherit;
    width: inherit;
    border-radius: inherit;
}

.imgEquilibrium:hover::after {
    background: 
        url(../images/icon-view.svg) no-repeat center, 
        hsla(178, 100%, 50%, 0.5);
    cursor: pointer;
}



/* Attribution section */
.attribution { 
    font-size: 0.61111rem; 
    padding: 0.277778rem 0;
    background-color: var(--very-dark-blue-main);
    color: var(--soft-blue);
    text-align: center; 
    position: fixed;
    width: 100vw;
    bottom: 0;
    right: 0;
}

.attribution a { 
    color: var(--white); 
}