:root {
    /* Primary */
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);

    /* Neutral */
    --very-dark-blue-main: hsl(217, 54%, 11%);
    --very-dark-blue-card: hsl(216, 50%, 16%);
    --very-dark-blue-line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);

    /* Font */
    font-size: 18px;
    /* font-weight: 300, 400, 600; */
}

* {
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    margin: 0;
    padding: 0;
}



@media (min-width: 375px) and (max-width: 1439px) {
    body {
        min-height: 667px;
    }
}

@media (min-width: 1440px) {
    body {
        min-height: 900px;
    }
}



body {
    background-color: var(--very-dark-blue-main);
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-color: var(--very-dark-blue-card);
    width: 350px;
    height: 596.5px;
    margin-bottom: 1px;
    border-radius: 17px;
    padding: 24px;
}

img.imgEquilibrium {
    object-fit: cover;
    width: 100%;
    border-radius: 8px;
}

h1.mainHead {
    color: var(--white);
    font-size: 21.25px;
    margin-top: 20px;
    font-weight: 400;
    letter-spacing: 0.75px;
    word-spacing: -0.5px;
}

p.mainDesc {
    color: var(--soft-blue);
    padding: 17.25px 0;
    font-size: 18px;
    line-height: 26px;
    font-weight: 300;
}

section {
    display: flex;
    flex-direction: row;
}

section.secDetails {
    justify-content: space-between;
    align-items: center;
    padding: 6.75px 0;
}

img.ethImg {
    width: auto;
    height: 18px;
}

p.ethDesc {
    color: var(--cyan);
    font-size: 15.5px;
    letter-spacing: 0.5px;
    margin-left: 6.5px;
    font-weight: 600;
}

img.timeImg {
    height: 16px;
    width: auto;
    margin-left: auto;
}

p.timeDesc {
    color: var(--soft-blue);
    font-size: 15.25px;
    margin-right: 2px;
    letter-spacing: 0.5px;
    font-weight: 300;
    word-spacing: -0.5px;
    margin-left: 8px;
}

section.secPerson {
    border-top: 1px solid var(--very-dark-blue-line);
}

p.personDesc {
    color: var(--soft-blue);
}

span.personName {
    color: var(--white);
}



/* Attribution section */
.attribution { 
    font-size: 0.61111rem; 
    padding: 0.277778rem 0;
    background-color: var(--very-dark-blue-main);
    color: var(--soft-blue);
    text-align: center; 
    position: fixed;
    width: 100vw;
    bottom: 0;
    right: 0;
}

.attribution a { 
    color: var(--white); 
}