:root {
    /* Primary */
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);

    /* Neutral */
    --very-dark-blue-main: hsl(217, 54%, 11%);
    --very-dark-blue-card: hsl(216, 50%, 16%);
    --very-dark-blue-line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);

    /* Font */
    font-size: 18px;
}

* {
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    margin: 0;
    padding: 0;
}



/* Mobile */
@media (min-width: 375px) and (max-width: 1439px) {
    body {
        min-height: 667px;
    }

    main {
        width: 327px;
        height: 543px;
        border-radius: 0.777778rem;
        padding: 1.34722rem 1.361111rem 1.34722rem 1.333333rem;
    }

    .imgEquilibrium {
        width: 277.5px;
        height: 277.5px;
        margin: 0 auto;
    }

    h1.mainHead {
        word-spacing: -0.041666667rem;
    }

    p.mainDesc {
        padding: 0.694444rem 0;
        font-size: 0.888889rem;
        letter-spacing: 0.00277778rem;
    }

    section.secDetails {
        padding: 0.222222rem 0;
    }

    img.ethImg {
        height: 17px;
    }

    p.ethDesc {
        font-size: 0.8194444rem;
        font-weight: 400;
        word-spacing: -0.0277778rem;
    }

    img.timeImg {
        height: 17px;
    }

    p.timeDesc {
        font-size: 0.833333rem;
        margin-right: 0.0833333rem;
    }

    section.secPerson {
        margin-top: 0.6388889rem;
        padding-top: 0.888889rem;
    }

    p.personDesc {
        font-size: 0.833333rem;
        font-weight: 300;
        letter-spacing: 0.006944444rem;
        word-spacing: -0.0277778rem;
    }

    span.personName {
        letter-spacing: 0.01388889rem;
        margin-left: 0.0833333rem;
    }
}



/* Desktop */
@media (min-width: 1440px) {
    body {
        min-height: 650px;
    }

    main {
        width: 350px;
        height: 596.5px;
        margin-bottom: 0.0555556rem;
        border-radius: 0.944444rem;
        padding: 1.333333rem;
    }

    .imgEquilibrium {
        height: 302px;
        width: 302px;
    }

    h1.mainHead {
        word-spacing: -0.0277778rem;
    }

    p.mainDesc {
        padding: 0.95833333rem 0;
        font-size: 1rem;
    }

    section.secDetails {
        padding: 0.375rem 0;
    }

    img.ethImg {
        height: 18px;
    }

    p.ethDesc {
        font-size: 0.84722222rem;
        font-weight: 600;
    }

    img.timeImg {
        height: 16.5px;
    }

    p.timeDesc {
        font-size: 0.84722222rem;
        margin-right: 0.111111rem;
        letter-spacing: 0.0277778rem;
        word-spacing: -0.0277778rem;
    }

    section.secPerson {
        margin-top: 0.95833333rem;
        padding: 0.888889rem 0 0.4444444rem;
    }

    p.personDesc {
        font-size: 0.888889rem;
    }

    span.personName {
        font-size: 0.84722222rem;
        letter-spacing: 0.0277778rem;
        margin-left: 0.1388889rem;
    }
}



body {
    background-color: var(--very-dark-blue-main);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-color: var(--very-dark-blue-card);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.imgEquilibrium {
    background: url(../images/image-equilibrium.jpg) no-repeat top center;
    background-size: cover;
    border-radius: 0.4444444rem;
}

h1.mainHead {
    color: var(--white);
    font-size: 1.18055556rem;
    margin-top: auto;
    font-weight: 400;
    letter-spacing: 0.041666667rem;
}

p.mainDesc {
    color: var(--soft-blue);
    line-height: 1.444444rem;
    font-weight: 300;
}

section {
    display: flex;
    flex-direction: row;
    align-items: center;
}

section.secDetails {
    justify-content: space-between;
}

img.ethImg {
    width: auto;
}

p.ethDesc {
    color: var(--cyan);
    letter-spacing: 0.0277778rem;
    margin-left: 0.3611111rem;
}

img.timeImg {
    width: auto;
    margin-left: auto;
}

p.timeDesc {
    color: var(--soft-blue);
    font-weight: 300;
    margin-left: 0.4166667rem;
}

section.secPerson {
    border-top: 0.0555556rem solid var(--very-dark-blue-line);
}

img.personImg {
    border: 0.0555556rem solid var(--white);
    border-radius: 50%;
    height: 33px;
}

p.personDesc {
    color: var(--soft-blue);
    margin-left: 0.888889rem;
}

span.personName {
    color: var(--white);
}



/* Hover state */
.mainHead:hover, 
.personName:hover {
    color: var(--cyan);
    cursor: pointer;
}



/* Pseudo-elements */
.imgEquilibrium::after {
    content: '';
    height: inherit;
    width: inherit;
    border-radius: inherit;
}

.imgEquilibrium:hover::after {
    background: 
        url(../images/icon-view.svg) no-repeat center, 
        hsla(178, 100%, 50%, 0.5);
    cursor: pointer;
}



/* Attribution section */
.attribution { 
    font-size: 0.61111rem; 
    padding: 0.277778rem 0;
    background-color: var(--very-dark-blue-main);
    color: var(--soft-blue);
    text-align: center; 
    position: fixed;
    width: 100vw;
    bottom: 0;
    right: 0;
}

.attribution a { 
    color: var(--white); 
}