:root {
    /* Primary */
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    
    /* Neutral */
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);

    /* Fonts */
    font-size: 14px;
    /*  font-family: 'Fraunces', serif;
        font-family: 'Montserrat', sans-serif; */
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cream);
}



@media (min-width: 375px) and (max-width: 1439px) {
    body {
        min-height: 667px;
    }

    main {
        width: 343px;
        height: 610px;
        display: flex;
        flex-direction: column;
    }

    .card-image {
        flex: 39.3%;
        background: url(../images/image-product-mobile.jpg) no-repeat top center;
        background-size: contain;
    }

    .card-details {
        flex: 60.7%;
        padding: 1.75rem;
    }
}

@media (min-width: 1440px) {
    body {
        min-height: 800px;
    }

    main {
        height: 450px;
        width: 600px;
        display: flex;
        flex-direction: row;
    }

    .card-image {
        flex: 50%;
        background: url(../images/image-product-desktop.jpg) no-repeat top center;
        background-size: contain;
    }

    .card-details {
        flex: 50%;
        padding: 2.15rem;
    }
}



.card-details {
    background-color: var(--white);
}

p.itemCat {
    color: var(--dark-grayish-blue);
}

h1.itemName {
    color: var(--very-dark-blue);
}

p.mainDesc {
    color: var(--dark-grayish-blue);
}

p.newPrice {
    color: var(--dark-cyan);
}

p.oldPrice {
    color: var(--dark-grayish-blue);
}

button.btnAddCart {
    background-color: var(--dark-cyan);
    color: var(--white);
}



/* Attribution/Footer section */

.attribution { 
    font-size: 0.785rem; 
    font-family: 'Montserrat', sans-serif;
    background-color: var(--white);
    text-align: center; 
    position: fixed;
    bottom: 0;
    padding: 5px 0;
    width: 100vw;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}