@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

:root {
    /* Primary */
    --violet: hsl(257, 40%, 49%);
    --soft-magenta: hsl(300, 69%, 71%);

    /* Fonts */
    font-size: 18px;
    /*  font-family: 'Open Sans', sans-serif;
        font-family: 'Poppins', sans-serif; */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: white;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}



/* Mobile-only Rules */
@media (min-width: 375px) and (max-width: 1439px) {
    body {
        background: url(../images/bg-mobile.svg) no-repeat top center;
        background-size: cover;
        background-color: var(--violet);
    }
}

/* Desktop-only Rules */
@media (min-width: 1440px) {
    body {
        min-height: 800px;
        background: url(../images/bg-desktop.svg) no-repeat top left;
        background-color: var(--violet);
    }

    header {
        width: 1300px;
        margin: 53.75px 70px 0;
    }

    main {
        width: 1294px;
        margin-top: 82px;
        display: flex;
        flex-direction: row;
        gap: 53px;
    }

    section.main-details {
        margin-top: 43.5px;
        padding-right: 10px;
    }

    footer {
        width: 1280px;
    }
}



img.logo {
    height: 52.5px;
}

h1.mainHeading {
    font-size: 39.5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    letter-spacing: 0.125px;
}

p.mainDesc {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 20px;
    line-height: 27.25px;
    color: rgba(255, 255, 255, 0.75);
}

button.btnRegister {
    font-family: 'Poppins', sans-serif;
    border: 0;
    background-color: white;
    margin-top: 24px;
    font-size: 18px;
    padding: 12.5px 63.75px 15.5px;
    border-radius: 50px;
    color: var(--violet);
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 16px;
    margin-top: 20px;
}

img.icon-socials {
    height: 40px;
    width: 40px;
    border: 1px solid white;
    padding: 9px;
    border-radius: 2em;
}

/* Attribution/Footer section */

.attribution { 
    font-size: 0.685rem; 
    text-align: center; 
    font-family: 'Poppins', sans-serif;
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 5px 0;
    width: 100vw;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}