@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

:root {
    /* Primary */
    --violet: hsl(257, 40%, 49%);
    --soft-magenta: hsl(300, 69%, 71%);

    /* Fonts */
    font-size: 16px;
    /*  font-family: 'Open Sans', sans-serif;
        font-family: 'Poppins', sans-serif; */
}



/* Attribution/Footer section */

.attribution { 
    font-size: 0.685rem; 
    text-align: center; 
    font-family: 'Poppins', sans-serif;
    position: fixed;
    bottom: 0;
    padding: 5px 0;
    width: 100vw;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}