@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

:root {
    /* Primary */
    --violet: hsl(257, 40%, 49%);
    --soft-magenta: hsl(300, 69%, 71%);

    /* Fonts */
    font-size: 18px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



/* Mobile-only Rules */
@media (min-width: 375px) and (max-width: 1439px) {
    body {
        min-height: 1600px;
        background: url(../images/bg-mobile.svg) no-repeat top center;
        background-size: contain;
        background-color: var(--violet);
    }

    header {
        width: 82%;
        max-width: 615px;
        margin-top: 64px;
    }

    img.logo {
        height: 3.45rem;
        width: auto;
    }

    main {
        width: 80.4%;
        max-width: 603px;
        display: flex;
        flex-direction: column;
        margin-top: 15.5%;
        text-align: center;
    }

    section.main-details {
        margin-top: 120px;
    }

    h1.mainHeading {
        font-size: 2.638rem;
    }

    p.mainDesc {
        font-size: 1.78rem;
        margin-top: 1.55rem;
        line-height: 2.67rem;
    }

    button.btnRegister {
        margin: 2.67rem 0;
        font-size: 1.33rem;
        padding: 1.17rem 0;
        border-radius: 2.5rem;
        width: 100%;
        max-width: 22.22rem;

    }

    footer {
        gap: 21px;
        padding-bottom: 16px;
        margin: auto 0 64px;
    }

    .icon-socials {
        height: 3rem;
        width: 3rem;
        border: 1.5px solid white;
        padding: 0.61rem;
        border-radius: 2em;
    }
}

/* Desktop-only Rules */
@media (min-width: 1440px) {
    body {
        min-height: 800px;
        height: 100vh;
        background: url(../images/bg-desktop.svg) no-repeat top left;
        background-size: contain;
        background-color: var(--violet);
    }

    header {
        width: 90.27%;
        min-width: 1300px;
        margin-top: 12.75px;
    }

    img.logo {
        height: 2.917rem;
        width: auto;
    }

    main {
        width: 89.86%;
        min-width: 1294px;
        margin-top: 82px;
        display: flex;
        flex-direction: row;
        gap: 2.94rem;
    }

    section.main-details {
        margin-top: 43.5px;
        padding-right: 10px;
    }

    h1.mainHeading {
        font-size: 2.194rem;
    }

    p.mainDesc {
        font-size: 1rem;
        margin-top: 20px;
        line-height: 1.5138rem;
    }

    button.btnRegister {
        margin-top: 24px;
        font-size: 1rem;
        padding: 12.5px 63.75px 15.5px;
        border-radius: 2rem;
    }

    footer {
        width: 88.89%;
        min-width: 1280px;
        justify-content: flex-end;
        gap: 16px;
        margin-top: 20px;
    }

    .icon-socials {
        height: 40px;
        width: 40px;
        border: 1px solid white;
        padding: 9px;
        border-radius: 2em;
    }
}



h1.mainHeading {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    letter-spacing: 0.125px;
}

p.mainDesc {
    font-family: 'Open Sans', sans-serif;
    color: rgba(255, 255, 255, 0.75);
}

button.btnRegister {
    font-family: 'Poppins', sans-serif;
    border: 0;
    background-color: white;
    color: var(--violet);
    box-shadow: 0px 0.17rem 0.27rem 0.27rem rgb(75,60,123);
}

footer {
    display: flex;
    flex-direction: row;
}

.icon-socials {
    fill: white;
}

/* Hover state */
button.btnRegister:hover {
    background-color: var(--soft-magenta);
    color: rgba(255, 255, 255, 0.75);
    cursor: pointer;
}

.icon-socials:hover {
    border-color: var(--soft-magenta);
    fill: var(--soft-magenta);
    cursor: pointer;
}