:root {
    /* Primary */
    --moderate-violet: hsl(263, 55%, 52%);
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --very-dark-blackish-blue: hsl(219, 29%, 14%);
    --white: hsl(0, 0%, 100%);

    /* Neutral */
    --light-gray: hsl(0, 0%, 81%);
    --light-grayish-blue: hsl(210, 46%, 95%);

    /* Font */
    font-size: 13px;
    /* font-weight: 500, 600; */
}

* {
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
    margin: 0;
    padding: 0;
}



@media (min-width: 350px) and (max-width: 1199px) {
    body {
        min-height: 1530px;
    }
}



@media (min-width: 1200px) {
    body {
        min-height: 700px;
    }
}



body {
    background: var(--light-grayish-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

main {
    height: 573px;
    width: 1110px;
    display: grid;
    grid-template: "daniel daniel jonathan kira"
        "jeanette patrick patrick kira";
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    row-gap: 24px;
}

.daniel, 
.jonathan, 
.patrick {
    color: var(--light-gray);
}

.daniel .itemTitle, 
.jonathan .itemTitle, 
.patrick .itemTitle {
    color: var(--light-grayish-blue);
}

.jeanette, 
.kira {
    background-color: var(--white);
    color: var(--very-dark-grayish-blue);
}

.daniel {
    background-color: var(--moderate-violet);
    grid-area: daniel;
}

.jonathan {
    background-color: var(--very-dark-grayish-blue);
    grid-area: jonathan;
}

.patrick {
    background-color: var(--very-dark-blackish-blue);
    grid-area: patrick;
}

.jeanette {
    grid-area: jeanette;
}

.kira {
    grid-area: kira;
}

article.reviewItem {
    border-radius: 8px;
    padding: 24px 30px;
}

.itemHead {
    display: flex;
    margin: 0.85px 0.25px;
}

.daniel .itemHeadAvatar, 
.patrick .itemHeadAvatar {
    height: 31px;
    border-radius: 50%;
}

.itemHeadAvatar:not(.daniel .itemHeadAvatar, 
                    .patrick .itemHeadAvatar) {
    height: 29px;
    border-radius: 50%;
    margin: 1px;
}

.kira .itemHeadAvatar, 
.jeanette .itemHeadAvatar {
    border: 1px solid var(--light-gray);
}

.jonathan .itemHeadAvatar {
    border: 0.5px solid var(--very-dark-grayish-blue);
}

.patrick .itemHeadAvatar {
    border: 1.75px solid var(--moderate-violet);
}

.daniel .itemHeadAvatar {
    border: 1px solid var(--light-gray);
}


.itemHeadPerson {
    margin-left: 15.5px;
    margin-top: 0.5px;
}

.itemHeadName {
    color: inherit;
    font-size: 12.95px;
    margin-bottom: 1px;
}

.itemHeadTitle {
    opacity: 50%;
    font-size: 11px;
}

article.reviewItem > :not(.itemHead) {
    padding: 0 2px;
}

.itemDesc {
    opacity: 70%;
}

.itemHeadName {
    color: inherit;
}



/* Attribution section */
.attribution { 
    font-size: 11px; 
    text-align: center; 
    padding: 5px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}