:root {
    /* Primary */
    --moderate-violet: hsl(263, 55%, 52%);
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --very-dark-blackish-blue: hsl(219, 29%, 14%);
    --white: hsl(0, 0%, 100%);

    /* Neutral */
    --light-gray: hsl(0, 0%, 81%);
    --light-grayish-blue: hsl(210, 46%, 95%);

    /* Font */
    font-size: 13px;
}

* {
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
    margin: 0;
    padding: 0;
}



@media (min-width: 350px) and (max-width: 1199px) {
    body {
        min-height: 100vh;
    }

    main {
        width: 87.2933333%;
        height: fit-content;
        grid-template: 
            "daniel"
            "jonathan"
            "jeanette"
            "patrick"
            "kira";
        grid-gap: 1.84615384rem;
        margin: 5.461538rem 0;
    }

    article.reviewItem {
        height: fit-content;
        padding: 1.8846153rem 2.3461538rem;
    }

    .daniel {
        background: 
            url(../images/bg-pattern-quotation.svg) no-repeat top right 10.75%,
            var(--moderate-violet);
    }

    article.reviewItem > :not(.itemHead) {
        padding: 0 0.1153846rem;
    }

    .itemTitle {
        margin-top: 1.307692rem;
    }

    .itemDesc {
        margin: 1.1923076rem 0 0.5769230rem;
    }
}



@media (min-width: 875px) and (max-width: 1199px) {
    main {
        grid-template: 
            "daniel daniel jonathan"
            "jeanette patrick patrick"
            "kira kira kira";
        grid-template-rows: repeat(3, auto);
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2.307692rem;
        row-gap: 1.84615384rem;
    }

    article.reviewItem {
        height: auto;
    }

    .jonathan .itemDesc, 
    .jeanette .itemDesc {
        margin: auto 0;
    }
}



@media (min-width: 1200px) {
    body {
        min-height: 700px;
        height: 100vh;
    }

    main {
        height: 573px;
        width: 1110px;
        grid-template: 
            "daniel daniel jonathan kira"
            "jeanette patrick patrick kira";
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 49.25829% 46.55323%;
        column-gap: 2.307692rem;
        row-gap: 1.84615384rem;
    }

    article.reviewItem {
        padding: 1.84615384rem 2.307692rem;
    }

    .daniel {
        background: 
            url(../images/bg-pattern-quotation.svg) no-repeat top 0.5% right 18.5%,
            var(--moderate-violet);
    }

    .itemHead {
        margin: 0.065384615rem 0.01923076rem;
    }

    .itemTitle {
        margin-top: 1.25rem;
    }
    
    .daniel .itemTitle,
    .jonathan .itemTitle,
    .kira .itemTitle {
        margin-top: 1.2692307rem;
    }

    article.reviewItem > :not(.itemHead) {
        padding: 0 0.153846rem;
    }

    .itemDesc {
        margin-top: 1.1923076rem;
    }

    .jeanette .itemDesc,
    .patrick .itemDesc,
    .kira .itemDesc {
        margin-top: auto;
        margin-bottom: 0.1923076rem;
    }
}



body {
    background: var(--light-grayish-blue);
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    display: grid;
}

.daniel, 
.jonathan, 
.patrick {
    color: var(--light-gray);
}

.daniel .itemTitle, 
.jonathan .itemTitle, 
.patrick .itemTitle {
    color: var(--light-grayish-blue);
}

.jeanette, 
.kira {
    background-color: var(--white);
    color: var(--very-dark-grayish-blue);
}

.daniel {
    grid-area: daniel;
}

.jonathan {
    background-color: var(--very-dark-grayish-blue);
    grid-area: jonathan;
}

.patrick {
    background-color: var(--very-dark-blackish-blue);
    grid-area: patrick;
}

.jeanette {
    grid-area: jeanette;
}

.kira {
    grid-area: kira;
}

article.reviewItem {
    border-radius: 0.6153846rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.itemHead {
    display: flex;
}

.daniel .itemHeadAvatar, 
.patrick .itemHeadAvatar {
    height: 31px;
    border-radius: 50%;
}

.itemHeadAvatar:not(.daniel .itemHeadAvatar, 
                    .patrick .itemHeadAvatar) {
    height: 29px;
    border-radius: 50%;
    margin: 0.07692307rem;
}

.kira .itemHeadAvatar, 
.jeanette .itemHeadAvatar {
    border: 0.07692307rem solid var(--light-gray);
}

.jonathan .itemHeadAvatar {
    border: 0.0384615rem solid var(--very-dark-grayish-blue);
}

.patrick .itemHeadAvatar {
    border: 0.13461538rem solid var(--moderate-violet);
}

.daniel .itemHeadAvatar {
    border: 0.07692307rem solid var(--light-gray);
}


.itemHeadPerson {
    margin-left: 1.1923076rem;
    margin-top: 0.0384615rem;
}

.itemHeadName {
    color: inherit;
    font-size: 0.99615384rem;
    margin-bottom: 0.07692307rem;
}

.itemHeadTitle {
    opacity: 50%;
    font-size: 0.846153rem;
}

.itemTitle {
    letter-spacing: 0.017307692rem;
    line-height: 1.84615384rem;
}

.patrick .itemTitle {
    letter-spacing: 0.01923076rem;
}

.itemDesc {
    opacity: 70%;
    line-height: 1.384615rem;
}

.patrick .itemDesc,
.daniel .itemDesc {
    letter-spacing: 0.00211538461rem;
}

.itemHeadName {
    color: inherit;
}



/* Attribution section */
.attribution { 
    font-size: 0.846153rem; 
    text-align: center; 
    background-color: var(--light-grayish-blue);
    opacity: 0.875;
    padding: 0.384615rem 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}