:root {
    /* Primary */
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);

    /* Neutral */
    --very-dark-blue: hsl(234, 12%, 34%);
    --grayish-blue: hsl(229, 6%, 66%);
    --very-light-gray: hsl(0, 0%, 98%);

    /* Font */
    font-size: 15px;
}

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}



/* Mobile */
@media (min-width: 375px) and (max-width: 1199px) {
    body {
        min-height: 1360px;
        gap: 4.966667rem;
    }

    header.secTop {
        width: 311px;
        margin-top: 5.333333rem;
    }

    .topHeading, .topSubHeading {
        font-size: 1.61667rem;
    }

    h1.topHeading {
        margin-top: 0.0666667rem;
    }

    p.topDesc {
        margin-top: 1rem;
        font-size: 1.011667rem;
        line-height: 1.66667rem;
    }

    section.conItem {
        width: 311px;
        height: 222px;
        padding: 1.476667rem 1.866667rem;
    }

    h2.conHeading {
        font-size: 1.32667rem;
    }

    p.conDesc {
        margin-top: 0.2rem;
        margin-left: 0.0666667rem;
        font-size: 0.88rem;
        line-height: 1.5333333rem;
    }

    img.conImg {
        height: 57px;
    }

    .sup {
        margin-bottom: 1.6666667rem;
    }

    .team {
        margin-bottom: 1.5333333rem;
    }

    .karma {
        margin-bottom: 1.6rem;
    }
}



/* Laptop */
@media (min-width: 768px) and (max-width: 1199px) {
    body {
        min-height: 922px;
    }

    main.secContainer {
        width: 652px;
        display: grid;
        grid-gap: 2rem;
        justify-items: center;
        grid-template: 
            "sup   team"
            "karma calc";
    }

    header.secTop {
        width: 420px;
    }

    .topHeading, .topSubHeading {
        font-size: 2rem;
    }

    p.topDesc {
        font-size: 1.01rem;
    }

    section.conItem {
        margin-bottom: 0;
    }
}



/* Desktop */
@media (min-width: 1200px) {
    body {
        min-height: 850px;
    }

    header.secTop {
        margin-bottom: 4.166667rem;
    }

    .topHeading, .topSubHeading {
        font-size: 2.431667rem;
    }

    h1.topHeading {
        line-height: 3.2rem;
    }

    p.topDesc {
        margin-top: 17.5px;
        font-size: 1.01rem;
        line-height: 1.7rem;
        width: 530px;
    }

    main.secContainer {
        margin-bottom: 0.1666667rem;
        height: 530px;
        width: 1110px;
        display: grid;
        grid-gap: 2rem;
        justify-items: center;
        grid-template: 
            ".   team     ."
            "sup team  calc"
            "sup karma calc"
            ".   karma    .";
    }

    section.conItem {
        width: 350px;
        height: 250px;
        padding: 1.783166667rem 2.133333rem;
    }

    h2.conHeading {
        font-size: 1.33333rem;
    }

    p.conDesc {
        margin-top: 0.5rem;
        font-size: 0.876667rem;
        line-height: 1.566667rem;
    }

    img.conImg {
        height: 64px;
    }
}



body {
    background-color: var(--very-light-gray);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1, h2 {
    color: var(--very-dark-blue);
}

p {
    color: var(--grayish-blue);
}

header.secTop {
    text-align: center;
}

h2.topSubHeading {
    font-weight: 200;
}

section.conItem {
    background-color: white;
    box-shadow: 0 0.666667rem 1rem rgb(218, 225, 236);
    border-radius: 0.333333rem 0.333333rem 0.5rem 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sup { 
    grid-area: sup;
    border-top: 0.266667rem solid var(--cyan); 
}

.team { 
    grid-area: team;
    border-top: 0.266667rem solid var(--red); 
}

.calc { 
    grid-area: calc;
    border-top: 0.266667rem solid var(--blue); 
}

.karma { 
    grid-area: karma;
    border-top: 0.266667rem solid var(--orange); 
}

p.conDesc {
    margin-bottom: auto;
}

img.conImg {
    width: auto;
    margin-bottom: 0.4rem;
    align-self: flex-end;
}



/* Attribution section */
.attribution { 
    background-color: var(--very-light-gray);
    font-size: 0.733rem; 
    padding: 0.33rem 0;
    text-align: center; 
    position: fixed;
    width: 100vw;
    bottom: 0;
    right: 0;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}