:root {
    /* Primary */
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);

    /* Neutral */
    --very-dark-blue: hsl(234, 12%, 34%);
    --grayish-blue: hsl(229, 6%, 66%);
    --very-light-gray: hsl(0, 0%, 98%);

    /* Font */
    font-size: 15px;
}

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}



/* Mobile */
@media (min-width: 375px) and (max-width: 1199px) {
    body {
        min-height: 1360px;
        gap: 74.5px
    }

    section.secTop {
        width: 311px;
        margin-top: 80px;
    }

    h2.topSubHeading {
        font-size: 24.25px;
    }

    h1.topHeading {
        font-size: 24.25px;
        margin-top: 1px;
    }

    p.topDesc {
        margin-top: 15px;
        font-size: 15.175px;
        line-height: 25px;
    }

    main.secContainer {
        width: 311px;
        min-height: 960px;
    }

    section.conItem {
        height: 222px;
        padding: 22.15px 28px;
    }

    h2.conHeading {
        font-size: 19.9px;
    }

    p.conDesc {
        margin-top: 3px;
        margin-left: 1px;
        font-size: 13.2px;
        line-height: 23px;
    }

    img.conImg {
        height: 57px;
    }

    section.conItem.sup {
        margin-bottom: 25px;
    }

    section.conItem.team {
        margin-bottom: 23px;
    }

    section.conItem.karma {
        margin-bottom: 24px;
    }
}



/* Desktop */
@media (min-width: 1200px) {
    body {
        min-height: 850px;
    }

    section.secTop {
        margin-bottom: 62.5px;
    }

    h2.topSubHeading {
        font-size: 36.475px;
    }

    h1.topHeading {
        font-size: 36.475px;
        line-height: 48px;
    }

    p.topDesc {
        margin-top: 17.5px;
        font-size: 15.15px;
        line-height: 25.5px;
        width: 530px;
    }

    main.secContainer {
        margin-bottom: 2.5px;
        height: 530px;
        width: 1110px;
        display: grid;
        grid-gap: 30px;
        justify-items: center;
        grid-template: 
            ".   team     ."
            "sup team  calc"
            "sup karma calc"
            ".   karma    .";
    }

    section.conItem {
        width: 350px;
        height: 250px;
        padding: 26.7475px 32px;
    }

    .sup { grid-area: sup; }
    .team { grid-area: team; }
    .calc { grid-area: calc; }
    .karma { grid-area: karma; }

    h2.conHeading {
        font-size: 20px;
    }

    p.conDesc {
        margin-top: 7.5px;
        font-size: 13.15px;
        line-height: 23.5px;
    }

    img.conImg {
        height: 64px;
    }
}



body {
    background-color: var(--very-light-gray);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1, h2 {
    color: var(--very-dark-blue);
}

p {
    color: var(--grayish-blue);
}

section.secTop {
    text-align: center;
}

h2.topSubHeading {
    font-weight: 200;
}

section.conItem {
    background-color: white;
    box-shadow: 0 10px 15px rgb(218, 225, 236);
    border-radius: 5px 5px 7.5px 7.5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sup { border-top: 4px solid var(--cyan); }
.team { border-top: 4px solid var(--red); }
.calc { border-top: 4px solid var(--blue); }
.karma { border-top: 4px solid var(--orange); }

p.conDesc {
    margin-bottom: auto;
}

img.conImg {
    width: auto;
    margin-bottom: 6px;
    align-self: flex-end;
}



/* Attribution section */
.attribution { 
    background-color: var(--very-light-gray);
    font-size: 0.733rem; 
    padding: 0.33rem 0;
    text-align: center; 
    position: fixed;
    width: 100vw;
    bottom: 0;
    right: 0;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}