/*  sizes
    mobile: 375px
    desktop: 1440px

    fonts
    font-family: 'Inter', sans-serif;
    font-family: 'Lexend Deca', sans-serif;
*/

:root {
    /* Primary */
    --very-dark-blue: hsl(233, 47%, 7%);
    --dark-desaturated-blue: hsl(244, 38%, 16%);
    --soft-violet: hsl(277, 64%, 61%);

    /* Neutral */
    --white: hsl(0, 0%, 100%);
    --slightly-transparent-white-p: hsla(0, 0%, 100%, 0.5);
    --slightly-transparent-white-h: hsla(0, 0%, 100%, 0.4);

    font-size: 15px;
}

* {
    box-sizing: border-box;
}



body {
    margin: 0;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 100vh;
    background-color: var(--very-dark-blue);
}



@media screen and (min-width: 1440px) {
    main {
        width: 1110px;
        height: 445px;
        display: flex;
    }

    .left {
        padding: 54px 106px 64px 72px;
        flex: 51.5%;
        border-radius: 0.5em 0 0 0.5em;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .mainDesc, .stats {
        width: 350px;
    }
    
    .right {
        flex: 48.5%;
        border-radius: 0 0.5em 0.5em 0;
        background: url(../images/image-header-desktop.jpg) no-repeat top center;
    }
}

.left {
    background-color: var(--dark-desaturated-blue);
}

.right {
    background-color: var(--soft-violet);
    background-blend-mode: multiply;
}



h1 {
    color: var(--white);
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 2.35em;
    margin-top: 0.5em;
    letter-spacing: 0.015em;
    line-height: 1.25em;
}

.violet {
    color: var(--soft-violet);
}

.mainDesc {
    color: var(--slightly-transparent-white-p);
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    line-height: 1.68em;
    letter-spacing: 0.0015em;
}

.stats {
    display: flex;
    justify-content: space-between;
}

.figures {
    color: var(--white);
    font-family: 'Inter', sans-serif;
    font-size: 1.6em;
    font-weight: 600;
    margin: 0 0 0.25em;
}

.figDesc {
    color: var(--slightly-transparent-white-h);
    text-transform: uppercase;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 0.85em;
    margin: 0;
    letter-spacing: 0.03em;
}


/* Attribution/Footer section */

.attribution { 
    font-family: 'Lexend Deca', sans-serif;
    position: fixed;
    bottom: 5px;
    width: 100vw;
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}